* {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
}

.drawing-board {
    display: flex;
    border: 5px solid black;
    height: 400px;
    width: 400px;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.drawing-board .grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.drawing-board .grid-item {
    flex: 1;
}

.drawing-board .painted {
    background-color: black;
}